name: vim-themis

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "doc/*.txt"

jobs:
  themis:
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        type: ["vim", "neovim"]
        version: ["nightly", "stable"]
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: checkout vim-themis
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: thinca/vim-themis
          path: vim-themis
          persist-credentials: false
      - name: setup vim
        id: vim
        uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
        with:
          neovim: ${{ matrix.type == 'neovim' }}
          version: ${{ matrix.version }}
      - name: Run test with vim-themis
        env:
          THEMIS_VIM: ${{ steps.vim.outputs.executable }}
          THEMIS_PROFILE: ${{ github.workspace }}/vim-profile-${{ runner.os }}-${{ matrix.type }}-${{ matrix.version }}.txt
        run: |
          "${GITHUB_WORKSPACE}"/vim-themis/bin/themis --reporter dot
      - name: setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.14'
      - name: collect coverage
        env:
          THEMIS_PROFILE: ${{ github.workspace }}/vim-profile-${{ runner.os }}-${{ matrix.type }}-${{ matrix.version }}.txt
        run: |
          pip install covimerage
          covimerage write_coverage "${THEMIS_PROFILE}"
          covimerage xml
      - name: install octocov
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: k1LoW/octocov
      - name: make coverage badge
        run: |
          octocov badge coverage --out ${{ github.workspace }}/badge-${{ runner.os }}-${{ matrix.type }}-${{ matrix.version }}.svg
      - name: upload badge to artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: badge-${{ runner.os }}-${{ matrix.type }}-${{ matrix.version }}
          path: badge*.svg
          if-no-files-found: error

  upload-coverage-badge:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs: themis
    permissions: {}
    steps:
      - name: download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: docs
          pattern: badge-*
          merge-multiple: true
      - name: upload badge to artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: docs

  deploy-to-github-pages:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs: upload-coverage-badge
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
